
body{
  position: relative;
}

p{
  line-height: 2;
  font-size: large;
}
.navbar-brand{
  background-color: #084C61;
  
}

.navbar-name{
  color: #fff !important;
}

.navbar{
  background-color: #D8DBE2 !important;
}

.navbar-nav a{
  color: #084C61 !important;
}

.about-me{
  background-color: #D8DBE2;
  width: 700px;
  float: left;
}

hr.solid{
  border-top: 2px solid #084C61;
}

.pic {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  border: 4px solid #58a4b0;
  float: left;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #084C61;
  border-top: 4px solid #FFA630; 
}

.footer div{
  margin: auto;
  width: 150px;
  color: #fff !important;
  margin-top: 15px;

}

.footer p, i{
  font-size: small;
}

@media screen and (max-width: 768px) {
  .about-me{
    min-width:96% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
}

@media screen and (max-width: 640px) {
  .about-me img{
    min-width:100% !important;
    height: auto;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
}
