.portfolio a{
  color:#212529;
}

.card{
  height: 16vw;
  width: 24vw;
  object-fit: cover;
}

/* .card-img{
  object-fit: cover;
} */

.c-title{
  background: rgba(255, 166, 48, .75);
  width: 100%;
  text-align: center;
}

.c-title h5{
  padding: 2px;
}

