
body{
  position: relative;
}

p{
  line-height: 2;
  font-size: large;
}
.navbar-brand{
  background-color: #084C61;
  
}

.navbar-name{
  color: #fff !important;
  margin-left: 5vw;
}

.navbar{
  background-color: #D8DBE2 !important;
}

.navbar-nav a{
  color: #084C61 !important;
}

.content{
  background-color: #D8DBE2;
  margin-bottom: 10vh;
}

hr.solid{
  border-top: 2px solid #084C61;
}


.about img{
  width: 20vw;
  height: auto;
  float: left;
  border-radius: 50%;
  border: 4px solid #58a4b0;
  margin-right: 20px;
}

.btn{
  background-color: #084C61;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #084C61;
  border-top: 4px solid #FFA630; 
  text-align: center;
  letter-spacing: 2px;
}

.copyright p{
  letter-spacing: normal;
  font-size: xx-small !important;
  color: #d8dbe2;

} 


@media screen and (max-width: 640px){
  .about img{
    width: 50vw;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }

}